blind-auction/Webserver/host/build
blind-auction/Webserver/enclave/build
blind-auction/Webserver/.gradle
blind-auction/Webserver/.idea
blind-auction/Webserver/build
blind-auction/Webserver/buildscripts
blind-auction/Webserver/host/lib
blind-auction/Client/.idea
blind-auction/Client/.gradle
blind-auction/Client/build
blind-auction/Webserver/enclave/build/conclave/binutils
.idea