sealed-bid-auction/Webserver/host/build
sealed-bid-auction/Webserver/enclave/build
sealed-bid-auction/Webserver/.gradle
sealed-bid-auction/Webserver/.idea
sealed-bid-auction/Webserver/build
sealed-bid-auction/Webserver/buildscripts
sealed-bid-auction/Webserver/host/lib
sealed-bid-auction/Client/.idea
sealed-bid-auction/Client/.gradle
sealed-bid-auction/Client/build
sealed-bid-auction/Webserver/enclave/build/conclave/binutils
.idea